#EmailVerification{
    height: 100vh;
    overflow: hidden;
    color: #fff;
    .container{
    width: 100%;
        .error{
            color: #ff0000;
        }
        .success{
            color: #00ff00;
        }
    }
}