#UserProfile{
min-height: 89vh;
    .container{
        color: #fff;
        z-index: -1;
        .MuiImageList-root{
        }
        .MuiButtonBase-root{
            color: #fff;
        }
    }
}

@media (max-width: 768px) {

    #UserProfile{

        .container{
            color: #fff;
            .card{
                z-index: 0;
                max-height: 80vh;
                overflow-y: scroll;
            }
        }
    }
}