.home{
    width: 100%;
    display: flex;
    min-height: 100vh;
    background-color: #1c1c1c;
    .friends{
        color: #fff;
        width: 40%;
        background-color: #1c1c1c;
    }
    .logo{
        display: none;
        h3{
            font-weight: 800;
            font-size: 25px;
            color: #d1ee51;
        }
    }
    .home-page-elems{
        display: flex;
        width: 100%;
    }
}
@media (max-width: 768px) {

    .home{
        flex-direction: column;
        .home-page-elems{
            flex-direction: column-reverse;
        }

        .friends{
            width: 100%;
        }
        .logo{
            display: block;
        }
    }
}