nav{
    max-width: 33%;
    background-color: red;
    height: 100vh;
    padding: 10px;
    .link{
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
}

@media (max-width: 768px) {

    nav{
        background-color: red;
        max-width: 100%;
        width: 100vh;
        height: max-content;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
  }