nav {
    background-color: red;
    height: 100vh;
    padding: 10px;
    background-color: #1c1c1c;
    border-right: 2px solid #000;
    position: sticky;
        top: 0px;
    #desktop-nav {
        
        h3{
            font-weight: 800;
            font-size: 25px;
            color: #d1ee51;
        }
        ul{
            .link{
                display: inline-block;
                padding: 10px 50px;
                
            }
            .link.active{
                color: #d1ee51;
            }
        }
    }

    #mobile-nav {
        display: none;
        border-top: 1px solid #000;
        justify-content: center;
        ul{
            display: flex;
        text-align: center;

            .link{
                display: inline-block;
                
            }
            .link.active{
                color: #d1ee51;
            }
        }
    }

    // position: fixed;
    .link {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
}

@media (max-width: 768px) {

    nav {
        max-width: 100%;
        width: 100vh;
        height: max-content;
        text-align: center;
        position: fixed;
        top: initial;
        bottom: 0;

        #desktop-nav {
            display: none;
        }

        #mobile-nav {
            display: flex;
        }
    }
}