nav {
    background-color: red;
    height: 100vh;
    background-color: #1c1c1c;
    border-right: 2px solid #000;
    position: sticky;
        top: 0px;
    #desktop-nav {
    padding: 10px;

        height: 100%;
        display: grid;
        .logo-navigations{
            
        }
        h3{
            font-weight: 800;
            font-size: 25px;
            color: #d1ee51;
        }
        ul{
            
            .link{
                display: inline-block;
                padding: 10px 50px;
                display: flex;
                align-items: center;
                svg{
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
            .link.active{
                color: #d1ee51;
            }
        }
        .profile{
            align-self: end;
            height: max-content;
            display: grid;
            .profile-image{
                border-bottom: 1px solid #000;
                padding-bottom: 10px;
                margin: 10px 0;
                justify-self: center;
                display: flex;
                color: #fff;
                align-items: center;
                justify-content: center;
                .profile-name{
                    padding: 0;
                    margin: 0;
                    margin-left: 10px;
                }
                .username{
                    padding: 0;
                    margin: 0;
                    margin-left: 10px;
                    font-size: 14px;
                    color: #707070;
                }
            }
            .logOut{
                align-self: end;
                color: #d1ee51;
                border: #d1ee51;
            }
        }
    }

    #mobile-nav {
        padding: 10px;
        background-color: #1c1c1c;;
        z-index: 10;
        display: none;
        border-top: 1px solid #000;
        justify-content: center;
        ul{
            display: flex;
        text-align: center;
        .logOut{
            color: #d1ee51;
            border: #d1ee51;
        }
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 26px;
            }
            .link{
                
                display: inline-block;
                
            }
            .link.active{
                color: #d1ee51;
            }
        }
    }

    // position: fixed;
    .link {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
}

@media (max-width: 768px) {

    nav {
        max-width: 100%;
        width: 100vh;
        height: max-content;
        text-align: center;
        // position: fixed;
        // top: initial;
        // left: 0;
        // bottom: 0;

        #desktop-nav {
            display: none;
        }

        #mobile-nav {
            display: flex;
        }
    }
}