.main-container{
    display: flex;
    flex-direction: row;
}
.outlet-container{
    width: 100%;
}
@media (max-width: 768px) {

    .main-container{
        order: 1;
        flex-direction: column;
    }
  }